// Your styles go here

html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    margin: 0;
    padding: 0;
}

main{
    margin: 4% 12%;
    background-color: white;
    display: flex;
}

*, ::after, ::before{
    box-sizing: inherit;
}


header > h1{
    font-size: 2rem;
    color: black;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header > h1 > form{
    display: flex;
    align-items: center;
    margin-right: 20px;
}


.menu {
    background-color: lightgray;
    padding-top: .3rem;
    padding-bottom: .3rem;
    text-align: center;

}

.menu > li {
    list-style: none;
    display: inline;
    margin-right: 5px;
    text-align: center;
    padding-left: .5rem;
    font-size: 1.5rem;
    color: black;
}

.menu > li:not(:last-child)::after{
    content: '|';
    margin-left: 5px;
    color: black;
}

a:link{
    text-decoration: none;
    
}

button{
    background-color: lightgrey;
}

.left{
    flex-direction: column;
    display: flex;
}

.left > .top > .words > h1{
    font-size: 1.5 rem;
    color: black;
}

.left > .bottom > .words > h1{
    font-size: 1.5 rem;
    color: black;
}

/* image section */
.top > img{
    border-radius: 8px;
    margin-right: .8rem;
}

.bottom > img{
    border-radius: 8px;
    margin-right: .8rem;
}



.bottom{
    border-bottom: 1px solid black;
}


.switch{
    list-style: none;
    display: inline;
    margin-right: 5px;
    text-align: center;
    padding-left: .5rem;
    font-size: 1.5rem;
    color: black;
    
}

.switch > ul li{
    display: inline;

    
}

.switch > ul li a{
    background-color: lightgray;
    border-radius: 8px;
    margin-right: .8rem;
    font-size: 20px;
    color: black;
    margin-left: 1rem;
    padding: 1em;
    border-radius: 1em;
    

}

.footer{
    background-color: lightgray;
}

.footer > .footer1 > p{
    text-align: right;
    margin-top: 3px;
   
}

.footer > .footer2{
    background-color: lightgray;
    list-style: none;
    display: inline;
    text-align: left;
    color: black;

}

.footer > .footer2 > ul li{
    display: inline;
    color: black;
}

/* desktop view */
@media screen and (min-width: 576px) {

    main{
        margin: 4%;                    /* adjust margin for smaller screens */
    }

    header{
        border-bottom: 5px solid black;
    }

    header > h1 {
        text-align: right;
    }

    header > h1 > form{
        float: right;
       
    }  

    .dropdown{
        display: none;
    }

    .menu{
        text-align: center;
    }

    .top{
        border-bottom: 1px solid black;
        display: flex;
        align-items: center;
     }

     .bottom{
        border-bottom: 1px solid black;
        display: flex;
        align-items: center;
     }
   
    .left > .top > .words > h1,
    .left > .bottom > .words > h1 {
        text-align: center;            /* Center the heading in the left section on smaller screens */
    }

    .top > img,
    .bottom > img {
        width: 100%;
    }

    .footer > .footer1 > p{
        text-align: center;
    }

    .footer > .footer2{
        text-align: center;
    }

}

/* mobile screens */
@media screen and (max-width: 575px) {

  
    header{
       margin-left: auto;
    }

    /* Hide the search form on smaller screens */
    header > h1 > form {
        display: none;
    }

    .dropdown{
        display: inline-block;
        position: relative;
    }
    
    .dropdown-options{
        display: none;
        position: absolute;
        overflow: auto;
    }

    .dropdown-options a{
        color: black;
        font-size: 10px;
        
        
    }
    
    .dropdown:hover .dropdown-options{
        display: block;
    }


    /* Show the mobile menu on smaller screens */
    .menu {
        
        display: block;
        text-align: center;
        background-color: lightgray;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        
      

    }

    .top{
        border-bottom: 2px solid black;
        margin-bottom: 15px;
    }

    .bottom{
        border-bottom: 2px solid black;
        margin-bottom: 15px;
    }

    /* style the navigation menu links */
    .menu > li a{

       color: black;
       padding: 14px 16px;
       text-decoration: none;
       font-size: 17px;
       display: none;
    }


    
    .menu > li:not(:last-child)::after {
       content: none
    }
    


}



